html {
  font-size: 15px;
  background-color: cornflowerblue;
}

body {
  width: 90%;
  margin: auto;
  background-color: lavender;
  border-radius: 20px;
}

.box-image {
  float: bottom;
  max-width: 50%;
  margin-left: 1.5em;
}

.box-text {
  text-align: start;
  font-size: 20px;
  margin-left: .75em;
  margin-right: .75em;
  font-family: "Times New Roman", serif;
}

h1 {
  text-align: left;
  font-weight: bold;
  font-size: 50px;

}
