html {
  font-size: 24px;
  background-color: cornflowerblue;
}

body {
  width: 90%;
  margin: auto;
  background-color: lavender;
  border-radius: 20px;
}

.box-image {
  float: left;
  max-width: 50%;
  margin-left: 1.5em;
}

.box-text {
  text-align: start;
  font-size: 30px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-family: "Times New Roman", serif;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;

}

pre {
  text-align: start;

}
