<!DOCTYPE html>
<html>
<head>
<style>

h1 {
  color: blue;
  font-size: 50px;
  font-weight: bold;
  font-family: "Times";
}



body {
  background-color: lightsteelblue;
  color: darkblue;
  text-align: start;
  font-size: 160%;
  border: 25px solid darkblue;
  width: 500px
}

p {
  font-size: 30px;
}

ul {
  color: magenta;
}

li {
  color: magenta;
}
  

</style>
</head>
</html>
